:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc101;
    --secundario: #0097a7;
    --terciario: #757575;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem; 
    color: var(--oscuro);
    margin-bottom: 2rem;
}

.titulo span {
    font-size: 2rem;
}

.nav-bg{
    background-color: var(--secundario);
}
.contenedor{
    width: 150rem;
    margin: 0 auto;
}

.navegacion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacion-principal a{
    padding: 1rem;
    color : var(--blanco);
    text-decoration: none;
    font-size: 2rem; 
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}